@font-face {
	  font-family: "arabic";
	  src: url("../fonts/DroidSansArabic.woff");
	}

body{
font-family: arabic;
font-size: 2em;
background-image: url("../img/1.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}


.salat {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: orange solid 5px;
    border-radius: 1em;
    margin: .5em 5em;
}

.temps {
    display: flex;
    flex-direction: column;
    border: brown solid 5px;
    border-radius: 1em;
    padding: 1em;
    margin: .25em;
    background-color: rgba(1,1,1,.5);
    color: white;
}

#ftor {
    background-color: rgba(132, 0, 0, 0.5);
}

#fajr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 98, 126, 0.5);
}
.sun {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: brown solid 2px;
    border-radius: 1em;
    background-color: rgba(1,1,1,.5);
    color: white;
    margin: .5em;
}
#dar {
    text-align: center;
    padding: .25em;
    cursor: pointer;
    border-radius: 2em;
    margin: 0.25em;
    color: azure;
    background-color: orange;
    font-size: 2em;
    transition: background-color .5s;
}
#dar:hover{
background-color: brown;

}
header {
    text-align: center;
    border: teal solid 5px;
    border-radius: 1em;
    color: azure;
    padding: .5em;
    font-size: 1.5em;
    margin: 0.25em;
    background: -webkit-linear-gradient(top, #314568 0%,#000000 100%);background: -moz-linear-gradient(top, #314568 0%, #000000 100%);
}

#futur {
    text-align: center;
    color: white;
}

label {
    display: block;
}

#f {
    background-color: rgba(95, 158, 160, 0.2);
    border-radius: 2em;
    margin: 0 10em;
    cursor: pointer;
    border: black solid 3px;
    transition: background-color .5s;
}
#f:hover{
background-color: rgba(95, 158, 160, 1)
}

#dt {
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
}