<!DOCTYPE html>
<html lang="ar" manifest="app.appcache">
<head>
    
<link rel="stylesheet" href="{{ static_url('css/main.css') }}">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="{{ static_url('js/geo.js') }}"></script>
<script src="{{ static_url('js/PrayTimes.js') }}"></script>
</head>


<body>
<div class="content">

<header>
    مواقيت الصلاة
</header>

<div id="dar">اضغط هنا لنبدأ</div>
<div id="lguit"></div>
<input type="hidden" id="lat">
<input type="hidden" id="lon">

<div id="futur">
</div>
   
<div class="sun">
    <div class="raiz">
        <div id="sbh">الشروق</div>
        <div id="st">00:00</div>
    </div>
    <div class="set">
        <div id="ghrb">الغروب</div>
        <div id="gt">00:00</div>
    </div>
</div>

<div class="salat">
    <div class="temps" id="fajr">
       <div id="kadhib">
        <div class="asm">الفجر الكاذب</div>
        <div class="tps" id="kdb">00:00</div>
        </div>
        <div id="sadiq">
        <div class="asm">الفجر الصادق</div>
        <div class="tps" id="sdq">00:00</div>
        </div>
    </div>
    
    <div class="temps">
        <div class="asm">الظهر</div>
        <div class="tps" id="dhr">00:00</div>
    </div>
    
    <div class="temps">
        <div class="asm">العصر</div>
        <div class="tps" id="asr">00:00</div>
    </div>
    
    <div class="temps" id="ftor">
        <div class="asm">المغرب</div>
        <div class="tps" id="mgrb">00:00</div>
    </div>
    
    <div class="temps">
        <div class="asm">العشاء</div>
        <div class="tps" id="icha">00:00</div>
    </div>
    
</div>

</div>
</body>
</html>



